.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: white !important;
}

.head-Section {
    background-color: #2a201c;
}

.footer {
    background-color: #2a201c !important;
}

.contact-info{
    display: flex;
}
.contact-section .bg-primary {
    background-color: #2a201c !important;
  }
  .contact-section .fa {
    color: #2a201c !important;
  }
  .contact-section .btn-primary {
    background-color: #2a201c !important;
    border-color: #2a201c !important;
  }
  svg{
    color: #2A201C;
  }