.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar{
    background-color: white !important;
}
.cards-section{
    background-color: #2a201c;
}
.footer{
    background-color: #2a201c !important;
  }