.product-img {
    width: 100px;
  }
  .table .thead-dark th {
    color: #fff;
    background-color: #2a201c;
    border-color: #2a201c;
}
.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar{
    background-color: white !important;
}
.head-Section{
    background-color: #2a201c;
}
.footer{
    background-color: #2a201c !important;
  }
  .products{
    background-color:white;
}